**/node_modules
/.next
/.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

.DS_Store

/.vscode

/public/favicon.ico
/public/antd*.css

.env.local

icon-details

/coverage

/dist

tmp

exist